Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [3]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')

# ratings.info()

#количество уникальных фильмов
# ratings.movieId.nunique()

# Фильмы, которым кто-то поставил 5
films_rating_5 = ratings[ratings.rating == 5]

#Группировка фильмов (movieId) по количеству (count_films_rating_5) 
films_rating_5_grouped = films_rating_5.groupby('movieId').count()

# сортировка по убыванию, лучшие фильмы вверху
films_rating_5_grouped_sorted = films_rating_5_grouped.sort_values('rating', ascending=False)

# слияние данных по movieId для получения названий фильмов
best_movies = films_rating_5_grouped_sorted.merge(movies, on='movieId', how='left')

# волнительный момент, лучший фильм - Побег из Шоушенка (хотя мне больше Форрест Гамп зашел)
best_movies.head(1)
best_movies.head(5)

,movieId,userId,rating,timestamp,title,genres
0,318,153,153,153,"Shawshank Redemption, The (1994)",Crime|Drama
1,296,123,123,123,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller
2,356,116,116,116,Forrest Gump (1994),Comedy|Drama|Romance|War
3,2571,109,109,109,"Matrix, The (1999)",Action|Sci-Fi|Thriller
4,260,104,104,104,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [51]:
power_data = pd.read_csv('power.csv')
list_category = [2, 12, 21]

# фильтр по ТЗ
power_data_filtered = power_data[((power_data['year'] >= 2005) & (power_data['year'] <= 2010)) & \
                                 ((power_data['category'] == 2) | \
                                   (power_data['category'] == 12) | \
                                   (power_data['category'] == 21)) & \
                                 ((power_data['country'] == 'Latvia') | \
                                  (power_data['country'] == 'Lithuania') | \
                                  (power_data['country'] == 'Estonia')) & \
                                 (power_data['quantity'] > 0)
                                ]
# 
print(power_data_filtered.groupby('country')['quantity'].sum())
# Суммарное потребление стран          
print(f"Суммарное потребление: {power_data_filtered['quantity'].sum()}")

country
Estonia       63412.0
Latvia        54844.0
Lithuania    122278.0
Name: quantity, dtype: float64
Суммарное потребление: 240534.0

In [28]:
power_data[ power_data['country'].str.contains('Est', case=False) ]['country'].unique()

array(['Estonia', 'State of Palestine', 'Timor-Leste'], dtype=object)

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [100]:
link = 'https://www.championat.com/football/_russiapl/tournament/2973/table/'
data = pd.read_html(link)[0]
data

     №         Команда  Игры   В   Н   П   Мячи  Очки  % очков  Форма
0    1           Зенит    24  17   5   2  50-11    56      778    NaN
1    2     Локомотив М    24  14   5   5  35-25    47      653    NaN
2    3          Ростов    24  12   5   7  42-45    41      569    NaN
3    4       Краснодар    22  11   8   3  36-22    41      621    NaN
4    5            ЦСКА    24  10   7   7  29-26    37      514    NaN
5    6       Спартак М    24   9   5  10  27-25    32      444    NaN
6    7        Динамо М    23   8   7   8  20-25    31      449    NaN
7    8             Уфа    24   7  10   7  18-20    31      431    NaN
8    9         Арсенал    24   8   4  12  28-32    28      389    NaN
9   10            Урал    24   7   7  10  29-44    28      389    NaN
10  11            Сочи    24   7   7  10  37-30    28      389    NaN
11  12           Рубин    24   6   8  10  14-25    26      361    NaN
12  13          Тамбов    24   7   4  13  28-31    25      347    NaN
13  14           Ахмат    24   5   9  10  21-32    24      333    NaN
14  15        Оренбург    23   6   5  12  26-37    23      333    NaN
15  16  Крылья Советов    24   6   4  14  25-35    22      306    NaN